<p>@Html.ActionLink("Products","Index","Products")</p><br>
<!-- <p>@Html.ActionLink("Ingregients","Index","Ingregients")</p><br>-->
<!-- <p>@Html.ActionLink("DontClickThisLink","Index","I_Told_U_Not_To_Click_This_Link")</p><br> -->