@{Layout="_Layout";}
@model Review2_NET.Models.Product

<h4>--REMOVE PRODUCT--</h4>
<br>
@using(Html.BeginForm())
{
   <input type="submit" value="Delete Product">
}
<br>
@Html.ActionLink("CANCEL","Index","Products")